:root {
  background-color: rgb(248, 236, 248);
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: rgb(160, 123, 157);
  color: rgb(217, 233, 237);
  font-family: papyrus;
}
.nav-links a {
  color: rgb(217, 233, 237);
  font-family: papyrus;
}
/* LOGO */
.logo {
  font-size: 32px;
}
/* NAVBAR MENU */
.menu {
  display: flex;
  gap: 1em;
  font-size: 18px;
  color: rgb(188, 158, 179);
}
.menu li:hover {
  background-color: #ba93b5;
  border-radius: 5px;
  transition: 0.3s ease;
  color: plum;
}
.menu li {
  padding: 5px 14px;
}
/* DROPDOWN MENU */
.products {
  position: relative;
}
.dropdown {
  background-color: rgb(173, 128, 155);
  padding: 1em 0;
  position: absolute; /*WITH RESPECT TO PARENT*/
  display: none;
  border-radius: 8px;
  top: 35px;
}
.dropdown li + li {
  margin-top: 10px;
}
.dropdown li {
  padding: 0.5em 1em;
  width: 8em;
  text-align: center;
}
.dropdown li:hover {
  background-color: #f5f6f6;
}
.services:hover .dropdown {
  display: block;
}
/* CHECKBOX HACK */
input[type="checkbox"] {
  display: none;
}
/*HAMBURGER MENU*/
.hamburger {
  display: none;
  font-size: 24px;
  user-select: none;
}

.banner h1 {
  color: rgb(160, 123, 157);
  font-family: papyrus;
  font-size: 70px;
}

.banner {
  border: 3px solid rgb(160, 123, 157);
  position: relative;
  top: 500px;
  width: 400px;
  margin: 0 auto;
}

/* APPLYING MEDIA QUERIES */
@media (max-width: 768px) {
  .menu {
    display: none;
    position: absolute;
    background-color: rgb(255, 255, 255);
    right: 0;
    left: 0;
    text-align: center;
    padding: 16px 0;
  }
  .menu li:hover {
    display: inline-block;
    background-color: #ffffff;
    transition: 0.3s ease;
  }
  .menu li + li {
    margin-top: 12px;
  }
  input[type="checkbox"]:checked ~ .menu {
    display: block;
  }
  .hamburger {
    display: block;
  }
  .dropdown {
    left: 50%;
    top: 30px;
    transform: translateX(35%);
  }
  .dropdown li:hover {
    background-color: #4c9e9e;
  }
}
